html {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-size: 1.6rem;
}