html {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #FFFFFF;
    font-size: 1.6rem;
}
