.course_cards-container {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 50px;
}

/* Card Styles */
.course_card {
  width: 982px;
  height: 255px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

/* Left Side of Card */
.course_card .course_leftSide {
  width: 322px;
  height: 219px;
  background: #2C2760;
  padding-top: 36px;
  border-radius: 15px;
}

.course_card .course_leftSide label {
  margin-left: 39px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #ADA5FF;
  opacity: 0.7;
}

.course_card .course_leftSide h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
  margin-top: 13px;
  margin-left: 37px;
}

.course_card .course_leftSide .course_btn {
  margin-top: 60px;
  margin-left: 38px;
  display: flex;
  height: 20px;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.course_card .course_leftSide .course_btn a {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
  color: #ADA5FF;
}

.course_card .course_leftSide .course_btn:hover {
  margin-left: 43px;
}

/* Right Side of Card */
.course_card .course_rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course_card .course_rightSide .course_title h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  margin-top: 11px;
  color: #2C2760;
}

/* Features Section */
.course_card .course_features {
  margin-top: 20px;
  padding-left: 80px;
  font-size: 14px;
  color: #2C2760;
}

.course_card .course_features ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  justify-items: left;
}

.course_card .course_features li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* Popup Overlay */
.course_popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.course_popup-content {
  background: #FFFFFF;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

.course_popup-overlay.active {
  display: flex;
}

@media (min-width: 320px) and (max-width: 480px) {
  .course_card {
    margin-top: 50px;
    width: 90%;
    flex-direction: column;
    height: auto;
  }

  .course_card .course_leftSide,
  .course_card .course_rightSide {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  /* left side */
  .course_card .course_leftSide {
    margin: 0;
    padding: 20px;
    height: auto;
  }

  .course_card .course_leftSide label {
    margin-top: 10px;
    margin-left: 0;
  }

  .course_card .course_leftSide h3 {
    margin-left: 0;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
  }

  .course_card .course_leftSide .course_btn {
    margin-top: 20px;
    margin-left: 0;
  }

  /* right side */
  .course_card .course_rightSide {
    justify-content: left;
    align-items: start;
    padding: 20px;
  }

  .course_card .course_rightSide .course_title h3 {
    margin-right: 30px;
    font-size: 20px;
    line-height: 35px;
    margin-top: 11px;
    color: #2C2760;
  }

  /* Features Section */
  .course_card .course_features {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5rem;
    text-align: left;
    padding-left: 0;
  }

  .course_card .course_features ul {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }

  .course_card .course_features li {
    margin: 0;
    padding-left: 0;
    margin-right: 20px;
  }

  /* Popup Overlay */
  .course_popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }

  .course_popup-content {
    margin: 20px;
    background: #FFFFFF;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .course_card {
    margin-top: 50px;
    width: 90%;
    flex-direction: column;
    height: auto;
  }

  .course_card .course_leftSide,
  .course_card .course_rightSide {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  /* left side */
  .course_card .course_leftSide {
    margin: 0;
    padding: 20px;
    height: auto;
  }

  .course_card .course_leftSide label {
    margin-top: 10px;
    margin-left: 20px;
  }

  .course_card .course_leftSide h3 {
    margin-left: 20px;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
  }
  .course_card .course_leftSide .course_btn {
    margin-top: 20px;
    margin-left: 20px;
  }

  /* right side */
  .course_card .course_rightSide {
    justify-content: left;
    align-items: start;
    padding: 20px;
    margin-left: 20px;
  }

  .course_card .course_rightSide .course_title h3 {
    margin-right: 30px;
    font-size: 20px;
    line-height: 35px;
    margin-top: 11px;
    color: #2C2760;
  }

  /* Features Section */
  .course_card .course_features {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5rem;
    text-align: left;
    padding-left: 0;
  }

  .course_card .course_features ul {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }

  .course_card .course_features li {
    margin: 0;
    padding-left: 0;
    margin-right: 20px;
  }

  /* Popup Overlay */
  .course_popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }

  .course_popup-content {
    margin: 50px;
    background: #FFFFFF;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }
}