.hero-content {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 32px;
    height: 100vh;
    overflow: hidden;
}

.logo-container,
.text-container {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

/* Apply animation only to the first part */
.logo1,
.logo2,
.logo3 {
    animation: showup 7s infinite;
}

.text1,
.text2,
.text3 {
    width: 0;
    animation: reveal 7s infinite;
}

.text1 .text,
.text2 .text,
.text3 .text {
    margin-left: -430px;
    animation: slidein 7s infinite;
}

/* No animation for the second part */
.logo2,
.text2 {
    display: none;
}

.logo3,
.text3 {
    display: none;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 430px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 430px;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 767px) {
    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}